.contact {
  min-height: 100vh;
  color: #3c3c3c;
  text-align: left;
  text-align: center;
}

.pageTitleContact {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px;
  padding-top: 1%;
  margin-bottom: 50px;
  text-align: center;
}

.contactList {
  font-size: 18pt;
  list-style-type: none;
  /* text-align: center; */
}

.contactText {
  font-family: "Domaine";
  font-size: 1rem;
  /* text-align: center; */
}

.contactDiv {
  background-image: url(../assortment/images/plant-hanger-34.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 1%;
}

.contactFrame {
  background-color: white;
  margin: 10%;
  margin-top: 4%;
  margin-left: 55%;
  text-align: left;
  padding: 5%;
  width: 40%;
}

.icons {
  margin: 2%;
}

td {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .contactList {
    font-size: 12pt;
  }
  .pageTitleContact {
    font-size: 20pt;
  }
  .contactFrame {
    padding: 5%;
    margin-left: 20%;
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  .contactList {
    font-size: 10pt;
  }
  .pageTitleContact {
    font-size: 22pt;
  }
  .contactFrame {
    padding: 2%;
    margin-left: 55%;
  }
}

@media only screen and (min-width: 768px) {
  .contactList {
    font-size: 12pt;
  }
}

@media only screen and (min-width: 992px) {
  .contactList {
    font-size: 18pt;
  }
}

