.blog {
  min-height: 50vh;
  color: #3c3c3c;
  padding-top: 50px;
  text-align: center;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.blogImage {
  width: 50%;
}
