.assortment {
  min-height: 100vh;
  color: #3c3c3c;
  text-align: center;
}

.container {
  padding-top: 30px;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}
